$font: 'PT Serif', serif;
$block: 'Open Sans', sans-serif;
$back: #fff;
$text: #3a3a3a;
$nav: #262626;
$caption: #919194;
$primary: #48a2d7;
$sec1: #2880b9;
$sec2: #e74c3c;
$link: #008080;
$notification: #1D8281;
$deadline:  #DB634F;

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}

a{
    color: inherit;
}
.ins{
    color: #6a6a6a;
    font-style: italic;
    margin: 0.5em auto;
}

.img-container{
    text-align: center;
}
.lead-img{
    height: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media(max-width: 480px){
        width: 100%;
        max-width: 180px;
        height: auto;
    }
}

.hide-desktop{
    display: none;
    @media(max-width: 700px){
        display: block;
    }
}

.hide-mobile{
    display: block;
    @media(max-width: 700px){
        display: none;
    }
}

body{ 
    font-family: $font;
    background-color: $back;
    color: $text;
    position: relative;
}

.copy{
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    font-size: 1.25em;
    line-height: 1.5em;
    color: $text;
    a{
        color: $link
    }
    @media(max-width: 700px){
        padding-top: 2em;
        line-height: 1.8em;
    }
}

.copy-container{
    padding-top: 2em;
    p{
        margin-bottom: 1.5em;
    }
    @media(max-width:1300px){
        padding-top: 0.5em;
    }
} 

.story{
    padding-top: 40px;
    .headline-container{
        text-align: center;
        @media(max-width: 700px){
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
        @media(max-width: 500px){
            font-size: 0.9em;
        }
        @media(max-width: 400px){
            font-size: 0.8em;
        }
    }
    .headline{
        padding-top: 0.7em;
        font-size: 2.3em;
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
        padding-bottom: 0.7em;
        @media(max-width: 600px){
            font-size: 2.1em;
        }
    }
}


h3.byline{
    font-weight: 500;
    margin-bottom: 0.8em;
    font-size: 1.2em;
}

.byline{
    .line{
        width: 220px;
        margin: 1em auto;
        border: 2px solid $primary;
    }
}

h3.byline.dateline{
     font-size: 1.1em;
}

.nav {
    color: white;
    height: 40px;
    background-color: $nav;
    width: 100%;
    padding: 0.2em;
    position: fixed;
    a{
        color: inherit;
    }
    .nav-logo {
        padding-left: .3em;
        vertical-align: middle;
        height: 60%;
        margin-top: 4px;
    }
    .nav-logo.mobile {
        display: none;
    }
    .nav-logo.desktop {
        vertical-align: middle;
        display: inline-block;
    }
    .right-container {
        position: absolute;
        right: 28px;
        top: 4px;
        font-size: 1.4em;
        i{
            margin-left: 8px;
        }
        @media(max-width: 750px){
            right: 14px;
        }
    }
    @media(max-width: 750px){
        .nav-logo.mobile {
            display: inline-block;
        }
        .nav-logo.desktop {
            display: none;
        }
    }
}

section{
    h2{
        padding-bottom: 0.5em;
        border-bottom: solid 4px $primary;
        margin-bottom: 0.5em;
        font-size: 1.7em;
        line-height: 1.4em;
    }
}

.credits{
    margin-bottom: 2em;
    font-size: 1em;
    font-style: italic;
}

.related-stories.copy{

    padding-top: 30px;
    max-width: 1000px;
    border-top: 1px solid #ddd;
    h2{
    border-bottom: none;
    font-size: 1.4em;
    }
    .series {
        text-transform: uppercase;
        font-size: .8em;
        padding-bottom: .1em;
        font-weight: 700;
        color: #2880b9;
    }
    img{
        width: 220px;
        @media(max-width: 700px){
            width: 90%;
        }
    }
    a{
        color: inherit;
        text-decoration: none;
        vertical-align: top;
        cursor: pointer;
    }
    .related-story{
        max-width: 210px;
        display: inline-block;
        margin-right: 2em;
        vertical-align: top;
        text-align: left;
        @media(max-width: 700px){
            margin-right: auto;
            margin-bottom: 2em;
            margin-left: auto;
            width: 90%;
            max-width: 100%;
        }
    }
    .related-story:hover{
        opacity: 0.8;
    }
    h3{
      font-size: 0.9em;
      span{
        font-style: italic;
        font-weight: bold;
      }
      @media(max-width: 700px){
        font-size: 1em;
      }
    }
    @media(max-width: 700px){
        text-align: center;
    }
}

.footer-basic-centered {
    background-color: $nav;
    color: #fff;
    width: 100%;
    text-align: center;
    font: 300 20px;
    padding: 30px;
    padding-bottom: 50px;

    margin-top: 30px;
    .footer-links{
        float: right;
    }
    .footer-company-name{
        float: left;
    }
    .footer-links,.footer-company-name{
        vertical-align: middle;
        padding-bottom: 20px;
    }
    a{
        margin-left: 5px;
        margin-right: 5px;
    }
}


.interactive{
    path.domain{
        display: none;
    }
    .axis{
        .tick{ 
            text{
                font-size: 1.2em;
            }
            
            line{
                stroke: #ccc;
            }
        }
    }
}

.copy.intro{
    font-style: italic;
    text-align: center;
}

/* css for the viz */

.notification{
    fill: $notification;
}

.deadline{
    fill: $deadline;
}

.interactive line{
    stroke-width: 1px;
    stroke: #909090;
}

.copy.intro{
    line-height: 1.8em;
}

.copy.intro {
    span{
        padding: 0.1em 0.3em;
        border: solid 2px;
        border-radius: 6px;
        color: #fff;
        cursor: pointer;
    }
    span.notification{
        border-color: $notification;
        background-color: $notification;
    }
    span.notification:hover, span.deadline:hover, span.time:hover{
        background: none;
    }
    span.notification:hover{
        color: $notification;
    }
    span.deadline:hover{
        color: $deadline;
    }
    span.time:hover{
        color: #2a2a2a;
    }
    span.deadline{
        border-color: $deadline;
        background-color: $deadline;
    }
    span.time{
        border-color: #2a2a2a;
        background-color: #2a2a2a;
    }
}

.interactive {
    font-family: $block;
    text-align: center;
    .annotation-group{
        font-size: 0.8em;
        .white{
            fill: #fff;
            stroke: #fff;
            stroke-width: 7.5px;
        }
        .black{
            fill: #2a2a2a;
        }
    }
    .voronoi rect{
        opacity: 0;
        cursor: pointer;
    }
    .name{
    font-size: 0.8em;
    }
}

@media(max-width: 700px){
    .copy{
        font-size: 1.1em;
    }
}

@media(max-width: 680px){
    .footer-basic-centered{
        padding-bottom: 30px;
        .footer-links,.footer-company-name{
            float: none;
        }
    }
}